@use "variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Jost", Arial, sans-serif;
  line-height: 1.5;
  color: #ffffff;
  background-color: #03193a;
}
h3 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.624rem;
}
